<!DOCTYPE html>
<html ng-app="app.bookApp">
	<head>
		<title>AngularJS Basic</title>
		<script src="js/vendor/angular.min.js" type="text/javascript"></script>
		<script src="js/vendor/angular-route.min.js" type="text/javascript"></script>
		<script src="js/vendor/angular-resource.min.js" type="text/javascript"></script>
		<script src="js/app.js" type="text/javascript"></script>
		<link href="css/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Books</a>
				</div>		
			</div>
		</div>

		<div class="container body">
			<div ng-controller="bookController">

				<div class="row search">
						<label for="title">Search book: </label>
						<input ng-model="bookTitle" type="text" class="input-sm">
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th ng-repeat="label in labels">{{ label }}</th>
								</tr>
								<tr ng-repeat="book in books | filter:{title:bookTitle}">
									<td>{{ book.title }}</td>
									<td>{{ book.author }}</td>
								</tr>
							</table>
						</div> <!-- / .table-responsive -->
					</div> <!-- .col-md-4 -->
				</div> <!-- / .row -->

			</div> <!-- / ng-BookController -->
		</div> <!-- / .container -->
	</body>
</html>