<div ng-controller="bookController">
	<form role="form" class="bookForm">
		<div class="form-group">
			<label for="title">Title: </label>
			<input ng-model="title" class="form-control" id="title"/>
		</div> <!-- / .form-group -->
		<div class="form-group">
			<label for="author">Author: </label>
			<input ng-model="author" class="form-control" id="author"/>
		</div> <!-- / .form-group -->
		<button ng-click="newPost()" class="btn btn-sm btn-default">Add Book</button>
	</form>
</div> <!-- / ng-newBookController -->